<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card text-center">

                <div class="card-body text-cener">
                    
                    {{!-- Titulo servicios de vehiculo --}}
                    <div class="serv-head">
                        <span class="serv-title card-title"><b>SERVICIOS</b></span>
                        <label class="serie-label">{{car.serie}}</label>
                        <a class="abtn" href="/"><i class="fa-solid fa-reply"></i></a>
                        <a class="abtn" href="/addServ/{{car._id}}"><i class="fa-solid fa-plus text-success"></i></a>
                    </div>
                    
                    {{!-- Tabla servicios de vehiculo --}}
                    <table class="table table-striped mt-3">
                        <thead>
                            <tr>
                                <th></th>
                                <th>fecha</th>
                                <th>servicio</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each car.servicios}}
                                <tr>
                                    <td></td>
                                    <td>{{fecha}}</td>
                                    <td class="td-servicio">{{servicio}}</td>
                                    {{!-- <td><a href="/editServ/{{_id}}">Update</a></td>  --}}
                                    <td><a href="/deleteServ/{{_id}}" onclick="return ConfirmDeleteServ()"><i class="fa-solid fa-trash-can text-danger"></a></td>
                                </tr>
                            {{/each}} 
                        </tbody>
                    </table>

                </div>
                
            </div>
        </div> 
    </div>  
    
</div>



